* {
  padding: 0%;
  margin: 0%;
}
body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

/* Primera seccion de los arboles de elementos, (codigo1) */
#codigo1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
#codigo1 p {
  font-weight: bold;
}
#codigo1 img {
  margin-top: 30px;
}

/* Primera seccion de los arboles de elementos, (codigo2) */
#codigo2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
#codigo2 p {
  font-weight: bold;
}
#codigo2 img {
  margin-top: 30px;
}

/* Primera seccion de los arboles de elementos, (codigo3) */
#codigo3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
#codigo3 p {
  font-weight: bold;
}
#codigo3 img {
  margin-top: 30px;
}
